<nav class="navbar navbar-dark navbar-2 bg-primary mb-4">
  <a class="navbar-brand main-logo" href="#">
    <img src="../assets/img/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent14" aria-controls="navbarSupportedContent14" aria-expanded="true" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="navbar-collapse collapse " id="navbarSupportedContent14" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="dropdown-item" (click)="addNews()">All news</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="addBBCNews()">BBC News</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="addCNNNews()">CNN</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="addEntertainmentNews()">Entertainment Weekly</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="addArsNews()">Ars Technica</a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="addInsiderNews()">Business Insider</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <ul class="item__box">
      <li class="item__elem" *ngFor="let item of news.articles">
        <a class="item__link" href="{{item.url}}">
          <h3 class="item__title">{{item.title}}</h3>
          <div class="item__img">
            <img src="{{item.urlToImage}}" alt="{{item.title}}">
          </div>
          <div class="item__dsecr">
            {{item.description}}
          </div>
          <div class="item__detail">
            <p class="item__author">{{item.author}}</p>
            <span class="item__date">{{item.publishedAt | date}}</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
